<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .container{
            min-height: 90vh;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="Img/welcome.jpg" alt="welcome_img" style="width: 100%;height:600px;">
    </div>
    
    <div class="footer" style="text-align: center;background-color: rgb(112, 97, 97);color: white;font-weight: bold;padding:2px 0 2px 0;">
        <p class="foot">© Copyright Raag Tarang 2021 | All rights reserved.</p>
    </div>
</body>
</html>


