<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Linking CSS -->
    <link rel="stylesheet" href="student.css">
    <!-- Favicon -->
    <link rel="icon" href="Images/fav.ico">
    <!-- Title -->
    <title>Students</title>
</head>

<body>
    <!-- Description Section -->
    <div class="con">
        <h1>What Our Students <b>Say!</h1>
    </div>

    <!-- Cards -->
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="image/stud-1.jpg" alt="Avatar" style="width:100%" class="img">
                <div class="container">
                    <h4 class="name"><b>Vineet Nayak S</b></h4>
                    <p class="p">It is really a great place to learn music....</p>
                    <button class="button button1">Click here to read more</button>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="image/stud-2.jpg" alt="Avatar" style="width:100%" class="img">
                <div class="container">
                    <h4 class="name"><b>Suraj Pai K</b></h4>
                    <p class="p">Highly experienced teachers teach here.....</p>
                    <button class="button button1">Click here to read more</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="image/stud-3.jpg" alt="Avatar" style="width:100%" class="img">
                <div class="container">
                    <h4 class="name"><b>Suraj Nayak</b></h4>
                    <p class="p">Learned a lot about music here.....</p>
                    <button class="button button1">Click here to read more</button>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="image/stud-5.jpg" alt="Avatar" style="width:100%" class="img">
                <div class="container">
                    <h4 class="name"><b>Dhanraj</b></h4>
                    <p class="p">Quality teaching at very least cost.......</p>
                    <button class="button button1">Click here to read more</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="image/stud-6.jpg" alt="Avatar" style="width:100%" class="img">
                <div class="container">
                    <h4 class="name"><b>Prajwal</b></h4>
                    <p class="p">Great place to learn classical music......</p>
                    <button class="button button1">Click here to read more</button>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="image/stud-7.jpg" alt="Avatar" style="width:100%" class="img">
                <div class="container">
                    <h4 class="name"><b>Prakash</b></h4>
                    <p class="p">Learned a lot about music here.......</p>
                    <button class="button button1">Click here to read more</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="image/stud-8.jpg" alt="Avatar" style="width:100%" class="img">
                <div class="container">
                    <h4 class="name"><b>Shridhar</b></h4>
                    <p class="p">Highly experienced teachers teach here......</p>
                    <button class="button button1">Click here to read more</button>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="image/stud-4.jpg" alt="Avatar" style="width:100%" class="img">
                <div class="container">
                    <h4 class="name"><b>Kavita</b></h4>
                    <p class="p">It is really a great place to learn music......</p>
                    <button class="button button1">Click here to read more</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>