<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Linking CSS -->
    <link rel="stylesheet" href="static/student.css">
    <!-- Favicon -->
    <link rel="icon" href="images/fav.ico">
    <!-- Title -->
    <style>
          body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #338bff;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
* {
  box-sizing: border-box;
}

    </style>
    <title>Students</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/listen">Listen</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact</a>
        <a href="/student">Student</a>
      </div>
    <!-- Description Section -->
    <div class="con">
        <h1>What Our Students <b>Say!</h1>
    </div>

    <!-- Cards -->
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGvfbZYfr-d6A/profile-displayphoto-shrink_400_400/0?e=1610582400&v=beta&t=Ha5_H4wc2gl-GiHzB8Q5HG3Dtozr2c5Z1G_HtQR15A8" alt="Avatar" style="width:100%" class="img">
                <div class="container">
                    <h4 class="name"><b>Vineet Nayak S</b></h4>
                    <p class="p">It is really a great place to learn music....</p>
                    <button class="button button1">Click here to read more</button>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://media-exp1.licdn.com/dms/image/C5603AQGp041Sd_n4BQ/profile-displayphoto-shrink_400_400/0?e=1610582400&v=beta&t=h7Ag7cSt3TAwbjUSTg3ApOj62atVmMBUcowH3llLP0Q" alt="Avatar" style="width:100%" class="img">
                <div class="container">
                    <h4 class="name"><b>Suraj Pai K</b></h4>
                    <p class="p">Highly experienced teachers teach here.....</p>
                    <button class="button button1">Click here to read more</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="https://media-exp1.licdn.com/dms/image/C5603AQE9XPnBJbLS_g/profile-displayphoto-shrink_400_400/0?e=1610582400&v=beta&t=GZPPT54QF5SgmvvJarAjWNKII8I0G9Ku6Cm22fYSfAU" alt="Avatar" style="width:100%" class="img">
                <div class="container">
                    <h4 class="name"><b>Suraj Nayak</b></h4>
                    <p class="p">Learned a lot about music here.....</p>
                    <button class="button button1">Click here to read more</button>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://media-exp1.licdn.com/dms/image/C5603AQEe8imGsiwgbw/profile-displayphoto-shrink_400_400/0?e=1610582400&v=beta&t=DXrX8b7D98C5goqQdietr4z2El7C57DzEc6WqfiGo5Q" alt="Avatar" style="width:100%" class="img">
                <div class="container">
                    <h4 class="name"><b>Dhanraj</b></h4>
                    <p class="p">Quality teaching at very least cost.......</p>
                    <button class="button button1">Click here to read more</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="https://media-exp1.licdn.com/dms/image/C5103AQE8NwaCXMVzzQ/profile-displayphoto-shrink_400_400/0?e=1610582400&v=beta&t=2d3xYYAYMXCXieTpvcHJmIOZC0QS8SZIvmwYh8A5qU4" alt="Avatar" style="width:100%" class="img">
                <div class="container">
                    <h4 class="name"><b>Prajwal</b></h4>
                    <p class="p">Great place to learn classical music......</p>
                    <button class="button button1">Click here to read more</button>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://media-exp1.licdn.com/dms/image/C5103AQEYE93vBZLJpA/profile-displayphoto-shrink_400_400/0?e=1610582400&v=beta&t=ySzQdd9HjG9fGGaRp5J3LbFLsZQJvsfMl6q_w-17AQA" alt="Avatar" style="width:100%" class="img">
                <div class="container">
                    <h4 class="name"><b>Prakash</b></h4>
                    <p class="p">Learned a lot about music here.......</p>
                    <button class="button button1">Click here to read more</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="https://media-exp1.licdn.com/dms/image/C5103AQG6ZunV1f0RSA/profile-displayphoto-shrink_400_400/0?e=1610582400&v=beta&t=dRLPHRxyCq2HDyLA0zPBfoDJ3zVUTtTD3jcPfFehmms" alt="Avatar" style="width:100%" class="img">
                <div class="container">
                    <h4 class="name"><b>Shridhar</b></h4>
                    <p class="p">Highly experienced teachers teach here......</p>
                    <button class="button button1">Click here to read more</button>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://media-exp1.licdn.com/dms/image/C5103AQGfipb7wSYg0Q/profile-displayphoto-shrink_400_400/0?e=1610582400&v=beta&t=0ge-_pjdkSEQ88rFuNSIiBXhHhjCufLQ5dP0xkCMlxg" alt="Avatar" style="width:100%" class="img">
                <div class="container">
                    <h4 class="name"><b>Kavita</b></h4>
                    <p class="p">It is really a great place to learn music......</p>
                    <button class="button button1">Click here to read more</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>